@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khmer:wght@400;700&display=swap');
/* font-family: 'Noto Serif Khmer', serif; */
  
:root {
  --first-color: #99A3B1;
  --second-color: #D5C7BF;
  --third-color: #9B8A76;
  --fourth-color: #4A4E51;
  --fifth-color: #AFBEBA;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 475px;
  background-color: var(--second-color);
  font-family: 'Poppins', sans-serif;
}
ul {
  list-style: none;
}
a {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
.container {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
img {
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: var(--fourth-color);
  color: #fff;
  padding: 15px 0;
}
.navbar .container {
  min-height: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  gap: 25px;
}
.navbar a {
  font-family: 'Noto Serif Khmer', serif;
}
.e-store {
  font-family: 'Poppins', sans-serif;
}
.cart-item {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #c70202;
  cursor: pointer;
}

/* Home */
.home-diapo {
  height: 650px;
  position: relative;
  margin: 95px 0 0 0;
  border: 5px solid var(--first-color);
}
.home-diapo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn-prev, .btn-next {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 50px;
  transform: translateY(-50%);
  font-size: 3rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--second-color);
  border: none;
}
.btn-prev {
  left: 15px;
}
.btn-next {
  right: 15px;
}

/* About */
.about {
  padding: 25px;
  text-align: center;
  font-family: 'Noto Serif Khmer', serif;
}
.social-medias {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.social-medias a {
  color: black;
}

/* Footer */
.footer {
  text-align: center;
  padding: 15px;
  color: #fff;
  background-color: var(--fourth-color);
}

/* Products */
.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
.product-card {
  padding: 25px;
  border-radius: 10px;
  background-color: rgb(0,0,0,0.2);
}
.product-card .path img {
  border-radius: 10px;
}

@media (min-width: 575px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}